@font-face {
  font-family: "rubic-bold";
  src: url("../_resources/fonts/Rubik-Bold.ttf");
}

@font-face {
  font-family: "rubic-light";
  src: url("../_resources/fonts/Rubik-Light.ttf");
}


@font-face {
  font-family: "rubic-medium";
  src: url("../_resources/fonts/Rubik-Medium.ttf");
}

@font-face {
  font-family: "rubic-regular";
  src: url("../_resources/fonts/Rubik-Regular.ttf");
}


:root {
  --sec1-color: #6292db;
  --text-color: #ffffff;
  --footer-head-color: #1da1f2;
  --footer-right-text: #78847d;
  --topic-font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

/* #region section 1 */

.sec1 {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sec1--extradiv {
  max-width: 1450px;
  margin: 0 auto;
}

.sec1--div1 {
  padding: 1rem;
}

.sec1--div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sec1-div2-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (min-width: 540px) {
  .sec1--div2 {
    width: 100%;
    height: auto;
  }

  .sec1-div2-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (min-width: 700px) {
  .sec1-div2-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (min-width: 951px) {
  .sec1 {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .sec1--div1 {
    padding-bottom: 1rem;
  }

  .sec1--div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sec1-div2-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (min-width: 1025px) {
  .sec1-div2-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .sec1--div1 {
    width: 100%;
  }
}

/* #endregion section 1 */





/* #region section 2 */

.footer--sec2{
  background-color: #000000DE;
}

.sec-extra-div {
  max-width: 1420px;
  margin: 0 auto;
  padding-top: 2rem;
}

.sec2-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.sec2-main-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.div1-des-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.div1-des-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.div1-des-name {
  font-family: "rubic-bold";
  color: var(--footer-head-color);
  font-size: var(--topic-font-size);
}

.div1-des-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.div1-des-p-cont {
  color: var(--text-color);
  font-family: "rubic-regular";
  text-align: center;
}

.div1-des-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin: 1rem 0 2rem 0;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.main-div1-menu,
.main-div1-services,
.main-div1-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.div1-menu-title,
.div1-services-title,
.div1-company-title {
  font-family: "rubic-bold";
  color: var(--footer-head-color);
  font-size: var(--topic-font-size);
}

.div1-menu-list,
.div1-services-list,
.div1-company-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8rem;
}

.menu-link,
.service-link,
.company-link {
  text-decoration: none;
  color: var(--text-color);
  font-family: "rubic-regular";
  transition: all 0.5s ease;
}

.menu-link:hover,
.service-link:hover,
.company-link:hover {
  color: var(--footer-head-color);
}

.sec2-main-div2 {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

.div2-icon {
  width: 1rem;
  height: 1rem;
}

.div2-text {
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
  color: var(--footer-right-text);
  font-family: "rubic-regular";
  align-self: center;
}

.div2--a1 {
  text-decoration: none;
  color: var(--footer-right-text);
  padding-left: 0.3rem;
  transition: color 0.3s ease;
}

.div2--a1:hover {
  color: var(--footer-head-color);
}

/* Tablet: 450px */
@media screen and (min-width: 450px) {
  .div2-text {
    font-size: unset;
  }
}

/* Tablet: 500px */
@media screen and (min-width: 500px) {
  .sec2-main-div1 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "one one"
      "two three"
      "four four";
    justify-content: center;
    align-items: center;
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }
}

/* Desktop: 800px */
@media screen and (min-width: 800px) {
  .sec-extra-div {
    padding: 3rem 2rem 0;
  }

  .sec2-cont {
    row-gap: 3rem;
  }

  .sec2-main-div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
  }

  .main-div1-des {
    flex: 1;
    max-width: 300px;
    align-items: flex-start;
  }

  .div1-des-logo {
    justify-content: flex-start;
  }

  .div1-des-p {
    justify-content: flex-start;
    margin: 1rem 0;
  }

  .div1-des-p-cont {
    text-align: left;
  }

  .div1-des-social {
    justify-content: flex-start;
    margin: 2rem 0;
  }

  .main-div1-menu,
  .main-div1-services,
  .main-div1-company {
    flex: 0 0 auto;
    align-items: flex-start;
    row-gap: 1rem;
  }

  .div1-menu-list,
  .div1-services-list,
  .div1-company-list {
    align-items: flex-start;
    line-height: 2rem;
  }

  .sec2-main-div2 {
    padding-bottom: 2rem;
  }
}

/* Large Desktop: 1024px */
@media screen and (min-width: 1024px) {
  .sec-extra-div {
    padding: 4rem 3rem 0;
  }

  .sec2-cont {
    row-gap: 4rem;
  }

  .sec2-main-div1 {
    gap: 3rem;
  }

  .main-div1-des {
    max-width: 350px;
  }

  .div1-menu-list,
  .div1-services-list,
  .div1-company-list {
    line-height: 2.2rem;
  }

  .menu-link,
.service-link,
.company-link{
  font-size: 1.1rem;
}
}

/* Extra Large Desktop: 1200px */
@media screen and (min-width: 1200px) {
  .sec-extra-div {
    padding: 4rem 0 0;
  }

  .sec2-main-div1 {
    gap: 4rem;
  }

  .main-div1-menu,
  .main-div1-services,
  .main-div1-company {
    min-width: 150px;
  }
}



/* #endregion section 2 */