@font-face {
  font-family: "rubic-bold";
  src: url("../_resources/fonts/Rubik-Bold.ttf");
}

@font-face {
  font-family: "rubic-light";
  src: url("../_resources/fonts/Rubik-Light.ttf");
}


@font-face {
  font-family: "rubic-medium";
  src: url("../_resources/fonts/Rubik-Medium.ttf");
}

@font-face {
  font-family: "rubic-regular";
  src: url("../_resources/fonts/Rubik-Regular.ttf");
}

:root {
  --font-color: #ffff;
  --background-color: #1da1f2;
  --hover-color: #5cbfdd;
  --dark-color-topic:#253D32;
  --dark--color--subtopic:#78847D;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==== Header Wrapper ==== */
.head {
  font-family: "rubic-regular";
  height: 4rem;
  background-color: var(--background-color);
  color: var(--font-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.head--extra--div{
  max-width: 1500px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}

.logo-sec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text {
  font-size: 1.3rem;
  font-weight: bold;
}

.menu-toggle {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1200;
}

.bar {
  height: 0.2rem;
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  /* margin-left: 1rem; */
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-cont {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 77%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: right 0.3s ease-in-out;
  z-index: 1100;
}

.nav-cont.active {
  right: 0;
}


.links{
  font-size: 1.2rem;
  color: var(--font-color);
  text-decoration: none;
  font-family: "rubic-medium";
  position: relative;
}

.links.active::after{
  width: 100%;
  background-color: #fff;
}

.links.active{
  font-weight: 600;
}

.nav-item{
  list-style: none;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.nav-item a:hover::after {
  width: 100%;
}



@media screen and (min-width: 600px) {
  .logo-sec {
    padding-right: 2rem;
  }

  .nav-item {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 750px) {
  .nav-item {
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 768px) {
  .head {
    height: 5rem;
    overflow: hidden;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 0.3rem 0;
  }

  .menu-toggle {
    display: none;
  }

  .logo-sec {
    width: 25%;
    display: flex;
    align-items: center;
  }

  .nav-cont {
    display: flex !important;
    flex-direction: row;
    column-gap: 0.8rem;
    align-items: center;
    justify-content: flex-end;
    position: static;
    background: none;
    padding: 0;
    width: auto;
    height: auto;
    /* margin-top: 0.5rem; */
    /* margin-right: 1.5rem; */
  }

  .nav-item {
    font-size: 1.3rem;
  }

  .links {
    padding: 0.5rem 0.5rem;
    font-size: 1.3rem;
  }

  .text{
    font-size: 1.3rem;
  }

  .logo-img{
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 951px) and (max-width: 1024px) {
  .head {
    height: 5.5rem;
    overflow: hidden;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem 1rem; */
  }

  .menu-toggle {
    display: none;
  }

  .logo-sec {
    width: 25%;
    display: flex;
    align-items: center;
  }

  .nav-cont {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
    align-items: center;
    justify-content: flex-end;
    position: static;
    background: none;
    padding: 0;
    width: 75%;
    margin-top: 0;
    /* margin-right: 1.5rem; */
    font-size: 2rem;
  }

  .links {
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (min-width: 1025px) {
  .head {
    height: 5.5rem;
    overflow: hidden;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
  }

  .menu-toggle {
    display: none;
  }

  .logo-sec {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.3rem;
  }

  .nav-cont {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    position: static;
    background: none;
    padding: 0;
    width: 75%;
    margin-top: 0;
  }
  .links {
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }

  .text{
    font-size: 1.5rem;
    align-self: center;
  }
}

